# .env.example
GMAIL_CLIENT_ID=903054213037-bk5epi1om28018ars06u96qgece3a9rc.apps.googleusercontent.com
GMAIL_CLIENT_SECRET=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
GMAIL_REFRESH_TOKEN=
CHURCH_EMAIL=rehobothdgul@gmail.com
